@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Water-themed Sticky Header */
header {
  width: 1413px;
  height: 63px;
  left: 14px;
  top: 18px;
  position: absolute;
  background: rgba(48, 54, 85, 0.25);
  overflow: hidden;
  border-radius: 30px;
  border-bottom: 1px #E0E0E0 solid;
  backdrop-filter: blur(25px);
}